*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #4ED5C1 !important;
}

#progressBar, #blaybackPannel, #sentenceText, #addedBar{
    width: 100vw;
    border-collapse: collapse;
}

#blaybackPannel{
    text-align: center;
}

#blaybackPannel td{
    width: 33vw;
}

#sentenceText{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

#sentenceText td{
    vertical-align: bottom;
}

#progressBar{
    height: 20px;
}

#blaybackPannel{
    height: 65px;
}

#blaybackPannel a{
    vertical-align: middle;
}

#addedBar .isAdded{
    background: url(../../img/added.png) center no-repeat;
    height: 36px;
}

#progressBar .current{
    background: red;
}

#progressBar td > div{
    text-align: center;
    height: 10px;
    margin: 0 5px;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
    background: #4ED5D5;
}

#addedBar td > div{
    text-align: center;
    height: 20px;
    margin-top: 5px;
    /*margin: 0 5px;*/
}

#blaybackPannel .button{
    display: inline-block;
}

#blaybackPannel .button.play{
    background: blue;
}

#blaybackPannel .button.stop{
    background: green;
}

#blaybackPannel .button.inactive{
    background: grey;
}

#sentenceText{
    width: 100vw;
    border-collapse: collapse;
    /*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;*/
}

#player{
    position: fixed;
    bottom: 0;
    background: #444444;
    border-top: 1px solid #333;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.15);
    z-index: 99;
}

.articles{
    width: 800px;
    margin: 0 calc((100% - 800px)/2)
}

.article{
    margin: 10px 0;
    padding: 10px;
    background: white;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.3);
    border: 5px solid #525252;
    font-size: 14px;
}

.article.current{
    /*border-color: #A63734;*/
    background: #FDFFAD;
}

.article .name, .article .playNote,
.addedWrapper .name, .addedWrapper .playNote
{
    display: inline-block;
}

.article .name:hover + .playNote{
    display: inline-block;
    color: #999999;
}

.article .name{
    text-decoration: none;
    color: #188871;
}

.article .playNote{
    display: none;
}

#rightMenu{
    display: inline-block;
    background: #444;
    position: fixed;
    width: 500px;
    height: 100vh;
    top: 0;
    z-index: 1;
    transition: .2s;
    transition-timing-function: cubic-bezier(.01,1.06,.88,1);
    right: 0px;
    border-left: 1px solid #333;
    box-shadow: -5px 0px 10px 0 rgba(0,0,0,0.15);
    /*overflow: auto;*/
}

#rightMenu.inactive{
    right: -450px;
    box-shadow: none;
}

.closePanel{
    display: inline-block;
    /*background: #bae8e1;*/
    position: relative;
    width: 0;
    top: 0;
    height: 100vh;
    left: 0px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(.01,1.06,.88,1);
    transition: .2s;
    background: #333;
}

#rightMenu.inactive .closePanel{
    width: 50px;
}

.addedWrapper{
    height: 100vh;
    display: inline-block;
    position: absolute;
    width: 420px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 160px;
    padding-right: 50px;
    font-size: 14px;
    text-align: justify;
    overflow: auto;
}

.addedWrapper .sentence{
    display: block;
    color: white;
    margin-bottom:10px;
    cursor: pointer;
}

.addedWrapper .sentence:hover{
    text-decoration: underline;
}

a[class^="player-btn-"]{
    display: inline-block;
}

.player-btn-prev{
    height: 36px;
    width: 48px;
    background: url(../../img/player_btns.png) no-repeat -104px 0;
}

.player-btn-play{
    min-height: 36px;
    min-width: 36px;
    background: url(../../img/player_btns.png) no-repeat -12px 0;
}

.player-btn-stop{
    height: 36px;
    width: 36px;
    background: url(../../img/player_btns.png) no-repeat -56px 0;
}

.player-btn-next{
    height: 36px;
    width: 48px;
    background: url(../../img/player_btns.png) no-repeat -167px 0;
}

.player-btn-add{
    height: 36px;
    width: 42px;
    background: url(../../img/player_btns.png) no-repeat -224px 0;
}

.player-btn-remove{
    height: 36px;
    width: 42px;
    background: url(../../img/player_btns.png) no-repeat -269px 0;
}

#blaybackPannel .textBtn{
    display: inline-block;
    border: 5px solid white;
    padding: 2px 10px;
    text-decoration: none;
    color: white;
}

.closeBtn{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    background: url(../../img/close.png);
    cursor: pointer;
}

.authorization{
    position: fixed;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: calc(((100vw - 800px)/2) - 28px);
    background: #444;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    /*display: none;*/
    box-sizing: border-box;
    padding: 10px;
}
.authorization input{
    background: rgba(0,0,0,0);
    border: none;
    color: white;
    width: 100%;
    font-size: 16px;
    text-align: center;
    height: 30px;
}

.authorization .incorrect{
    color: #df0000;
}

.authorization .button{
    margin-top: 5px;
    border: 2px solid white;
    cursor: pointer;
}